<!DOCTYPE html>
<head>
    <title>Your Dashboard</title>

    <link
        rel="stylesheet"
        href="static/styles.css"
    >
</head>

<body>
    <main class="container">

        <nav>
            <a href="{{ url_for('index') }}" style="background-color: #3498db; color: white; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; 
            font-weight: bold; cursor: pointer; transition: background-color 0.3s ease; text-decoration: none; ">
                Practice interview
            </a>
            <a href="{{ url_for('logout') }}" style="background-color: #3498db; color: white; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; 
            font-weight: bold; cursor: pointer; transition: background-color 0.3s ease; text-decoration: none; ">
                Log out
            </a>
        </nav>

        <section class="card">
            <h1>What You Should Improve</h1>
            {% if grouped_improvements %}
                {% for sector, improvements in grouped_improvements.items() %}
                    <section class="card-sector-section">
                        <h2>{{ sector }}</h2>

                        <div class="improvement-list">

                            {% for item in improvements %}
                                <article class="improvement-item">
                                    <ul>
                                        <li>{{ item.area }}</li>
                                    </ul>
                                </article>
                            {% endfor %}

                        </div>
                {% endfor %}
            {% else %}
                <p>
                    Complete an interview to receive improvement feedback.
                </p>
            {% endif %}
            
        </section>

    </main>
</body>
</html>